In [44]:
import pandas as pd
from nltk.corpus import stopwords
from sklearn.feature_extraction.text import TfidfVectorizer

In [3]:
stop_words = stopwords.words("english")

In [23]:
podcasts = pd.read_csv("raw data/episode_info_clean.csv")

In [32]:
podcasts

     episode_number  radio_date                                    title
0                 1  1995-11-17                           New Beginnings
1                 2  1995-11-24                          Small Scale Sin
2                 3  1995-12-01                        Poultry Slam 1995
3                 4  1995-12-08                                Vacations
4                 5  1995-12-15                    Anger and Forgiveness
..              ...         ...                                      ...
626             628  2017-10-13           In the Shadow of the City 2017
627             629  2017-10-20                            Expect Delays
628             630  2017-10-27                    Things I Mean to Know
629             631  2017-11-10  So a Monkey and a Horse Walk Into a Bar
630             374  2009-02-27                      Somewhere Out There

[631 rows x 3 columns]

In [34]:
titles = {}
for i in range(podcasts.shape[0]):
    k = podcasts["episode_number"][i]
    v = podcasts["title"][i]
    titles.update({k:v})

In [36]:
transcript = pd.read_csv("raw transcripts/this_american_life.csv")

In [39]:
transcript["episode"] = transcript["episode"].map(titles)

In [42]:
transcript = transcript.set_index("episode")

In [43]:
transcript

                                                                                      text
episode
New Beginnings                            Joe Franklin? I'm ready. It's Ira Glass here....
Small Scale Sin                           OK, three boys, aged 13, 15, and 16. All thre...
Poultry Slam 1995                         In Danielle's house, ever since she was a gir...
Vacations                                 The thing about Hawaii is that before you go ...
Anger and Forgiveness                      Hi. It's Ira Glass recording this in 2006. A...
...                                                                                    ...
Suitable for Children                      There's a story my mom used to like to tell....
In the Shadow of the City 2017             OK. This happens to be Chicago, but every ci...
Expect Delays                              A couple months ago, I got into a plane in S...
Things I Mean to Know                      Hey everybody, Ira Glass here, and I am in t...
So a Monkey and a Horse Walk Into a Bar    So a horse walks into a movie theater, gets ...

[631 rows x 1 columns]

In [ ]:
TfidfVectorizer( )